<section id="main-title" class="jumbotron">
  <h1>Elekctronic</h1>
  <h1>101</h1>

  <h1 id="start-button">
    <a class="glyphicon glyphicon-off" href="/oauth"></a>
  </h1>

  <h2>Your own elektronic radio</h2>
</section>

<!--<section id="features">
  <div id="col-1" class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
    <h2 class="glyphicon glyphicon-search"></h2>
    <p>Discover new artists, sets and songs.</p>
  </div>
  <div id="col-2" class="col-xs-12 
                         col-sm-5 col-sm-offset-2 
                         col-md-5 col-md-offset-2
                         col-lg-5 col-lg-offset-2">
    <h2 class="glyphicon glyphicon-music"></h2>
    <p>Create your oun plalists from a genre, artist or beat. 
    Or just look for the song that you like.</p>
  </div>
</section>-->
