<div id="background">
</div>

<div id="texture">
</div>

<section id="main-title">
  <div id="title-container" class="container">
    <h1 id="title" class="light-up">Elekctronic</h1>
    <h1 class="light-up">101</h1>

    <h1 id="start-button">
      <a class="light-up glyphicon glyphicon-off" href="/oauth"></a>
    </h1>

    <h2 class="light-up">Your own elektronic radio</h2>
  </div>

  <div id="features">
  </div>
</section>
