<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'/>
  <title>Awesome electronic101</title>
  <link type='text/css' rel='stylesheet' href='/css/vendor/materialize.min.css' media='screen,projection'>
  <link type='text/css' rel='stylesheet' href='/css/electronic101.css'>
</head>
<body>
  <div class='row'>

  <h1>My awesome electronic101</h1>
    <%= yield %>

  </div>
  <script type='text/javascript' src='//code.jquery.com/jquery-2.1.1.min.js'></script>
  <script type='text/javascript' src='/js/materialize.min.js'></script>
  <script type='text/javascript' src='/js/electronic101.js'></script>
</body>
</html>
