<nav class="row">
  <div class="col-xs-8">
    <h1 id="nav-title">Elektronic 101</h1>
  </div>

  <div class="col-xs-4">

    <a id="new-playlist" class="nav-icon" href="#">
      <h3 class="glyphicon glyphicon-th-list"></h3>
    </a>
 
    <a id="new-song" class="nav-icon" href="#">
      <h3 class="glyphicon glyphicon-music"></h3>
    </a>

  </div>
</nav>

<!-- =================== INFO SECTION ===================== -->

<section class="row" ng-controller="UsersCtrl">
  <div class="col-xs-12 col-sm-6">
    <div id="user-info" class="row">

      <!-- avatar container -->
      <div id="user-avatar" class="col-xs-4 col-sm-3">
        <img id="img-avatar" 
          class="img-responsive" 
         ng-src="{{ me.avatar }}" 
            alt="avatar">
      </div>

      <!-- user info container -->
      <div class="col-xs-8 col-sm-9">
        <h3 id="username">{{ me.username }}</h3>
        <p>{{ me.city }} | {{ me.country }}</p>
        <p>
          Tracks: {{ me.track_count }} | 
          Followers: {{ me.followers_count }} | 
          Favorites: {{ me.favorites_count }}
        </p>
      </div>

    </div>
  </div>

  <div class="col-xs-12 col-sm-6">
    <div id="song-info" 
         class="row"
         ng-controller="RoundProgressCtrl">

      <div id="clock-container" 
           class="col-xs-5">
        <div id="clock" 
             round-progress
             max="max"
             current="current"
             color="orange"
             bgcolor="#222"
             radius="50"
             stroke="10"
             responsive="false"
             duration="800"
             animation="easeInOutQuart">
        </div>
        <div id="timer">
          {{ time | msecToTime }}
        </div>
      </div>

      <div id="uv-meter-container"
           class="col-xs-2">
        <div class="uv-meter-top"
             round-progress
             max="500"
             current="100"
             color="red"
             bgcolor="#222"
             radius="30"
             stroke="7"
             semi="true"
             responsive="false"
             duration="800"
             animation="easeInOutQuart">
        </div>

        <div class="uv-meter-bottom"
             round-progress
             max="500"
             current="100"
             color="red"
             bgcolor="#222"
             radius="30"
             stroke="7"
             semi="true"
             responsive="false"
             duration="800"
             animation="easeInOutQuart">
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ===================== PLAYLIST ======================= -->

<section ng-controller="LikesCtrl">
  <div id="playlist-container" class="row">
    <ul id="playlist" ng-repeat="track in likes.likes">
      <li id="element-{{ $index }}"
          ng-click="playpauseSM($index)">
        <div class="pl-row row">

          <!-- song artwork -->
          <div class="artwork-container col-xs-2 col-sm-1 col-md-1">
            <img class="song-artwork"
                 ng-src="{{ track.artwork_url }}"
                 alt="artwork">
            <h1 id="playpause-{{ $index }}" 
                class="play-art glyphicon glyphicon-play">
            </h1>
          </div>

          <!-- song title -->
          <div class="title-container col-xs-7 col-sm-10 col-md-10">
            <h4 class="song-title">
              {{ track.title }}
            </h4>
            <p>
              {{ track.username }} |
              {{ track.duration | msecToTime }}
            </p>
          </div>

          <!-- delete button -->
          <div class="del-container col-xs-1">
            <a href="#" 
                 id="{{ track.sc_track_id }}"
              class="del-button glyphicon glyphicon-remove">
            </a>
          </div>
          
        </div>
      </li>
    </ul>
  </div>
</section>

<!-- ==================== CONTROLLERS ===================== -->

<section id="controllers-container" class="container">
  <div id="controllers-bar" class="row">

    <div id="mypl-button" 
      class="col-xs-2">
      <a href="#">
        MY-PLAYLISTS
      </a>
    </div>

    <div id="likes-button" 
      class="col-xs-1">
      <a href="#">
        LIKES
      </a>
    </div>

    <div id="media-container">
      <div id="backward-con-button" 
        class="col-xs-1">
        <h2>
          <a href="#"
           class="glyphicon glyphicon-backward">
          </a>
        </h2>
      </div>

      <div id="playpause-con-button" 
        class="col-xs-1">
        <h2>
          <a href="#"
           class="glyphicon glyphicon-play">
          </a>
        </h2>
      </div>

      <div id="forward-con-button" 
        class="col-xs-1">
        <h2>
          <a href="#"
           class="glyphicon glyphicon-forward">
          </a>
        </h2>
      </div>

      <div id="volume-con-button" 
        class="col-xs-1">
        <h2>
          <a href="#"
              class="glyphicon glyphicon-headphones">
          </a>
        </h2>
      </div>
    </div>

  </div>
</section>
