/* Let's put some makeup! */
@import url(//fonts.googleapis.com/css?family=Roboto+Slab|Monoton);

body {
  font-family: 'Roboto Slab', serif;
  background-color: #151825;
  color: white;
}

/* ===================== HOME STYLE ===================== */

/* ---------- Backgroind ---------- */

#background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-image: url(/img/symbols-bk.png);
  background-size: cover;
}

/* ---------- Main Title ---------- */

#main-title {
  text-align: center;
  background-image: url(/img/fake-brick.png);
  background-color: rgba(21, 24, 37, 0.8);
  box-shadow: 0 0 30px -2px #111;
  margin: 5.5vh;
  border-radius: none;
}

#main-title h1 {
  font-family: 'Monoton', cursive;
  color: #d1423a;
  font-size: 8vw;
}

#start-button a {
  text-decoration: none;
  color: #aaa;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
}

#start-button a:hover {
  text-shadow: 0 0 5px white,
               0 0 20px #3cdb57;
  color: white;
}

/* -------------------------------- */

/* ----------- Features ----------- */

#features #col-1 {
  text-align: center;
  background-image: url(/img/3px-tile.png);
  background-color: rgba(21, 24, 37, 0.8);
  box-shadow: 0 0 30px -2px #111;
  margin-bottom: 5vh;
}

#features #col-2 {
  text-align: center;
  background-image: url(/img/3px-tile.png);
  background-color: rgba(21, 24, 37, 0.8);
  box-shadow: 0 0 30px -2px #111;
  margin-bottom: 5vh;
}

/* -------------------------------- */
